ARCHIVE    :: Arc/sample.tar.gz
OUTDIR     :: Plot2
XPLOT      :: BETA
YPLOT      :: [m_aq4]/[m_aq2]**2
DPLOT      :: [m_aq4]/[m_aq2]**2*(<m_aq4>/[m_aq4]+2.0*<m_aq2>/[m_aq2])
PLOTID     :: D L1
LEGEND     :: "L=%4d" , L1
CONDITION  :: D == 2 && J0 == 1.0
BEFOREPLOT :: set xrange [0.0:2.1]
#BEFOREPLOT :: set yrange [0.00:1.00]
#BEFOREPLOT :: set logscale xy
